/** Color */ 

$yellow-50: #fffde7;
$yellow-100: #fff9c4;
$yellow-200: #fff59d;
$yellow-300: #fff176;

$yellow-500: #ffeb3b;
$yellow-600: #fdd835;
$yellow-700: #fbc02d;
$yellow-800: #f9a825;
$yellow-900: #f57f17;
$yellow-a100: #ffff8d;
$yellow-a200: #ff0;
$yellow-a400: #ffea00;
$yellow-a700: #ffd600;

$color-primary:  #9ccc65;    
$color-secondary:  #fffde7;
$color-white: #ffffff;
$background-color: #fff9c4;
