<div class="header-containers">
    <div class="header-container">
        <div class="col-12 button-end">
            <button class="button-primary" (click)="navToLogin()">Login</button>
            <button class="button-secondary" (click)="navToRegister()">Sign up</button>
        </div>
        <div class="col-12 text-center">
            <p>FUEGO WORKS!</p>
            <form [formGroup]="unconditionalSearchForm">
                
            </form>
        </div>
    </div>

   
        <div class="row">
            <div class="col-12 col-sm-6">
                PI CHART
            </div>
            <div class="col-12 col-sm-6">
                BARS
            </div>
        </div>
   




<div class="row">
    <div class="col-12 col-sm-3">
        <mat-card>
            <div>
                <img class="cards-image" src="assets/images/bike.jpg" alt="icon-bike">
                <p>Search for Category Four</p>
            </div>
        </mat-card>
    </div>
    <div class="col-12 col-sm-3"> 
        <mat-card>
            <div>
                <img class="cards-image" src="assets/images/bike.jpg" alt="icon-bike">
                <p>Search for Category One</p>
            </div>
        </mat-card>
    </div>
    <div class="col-12 col-sm-3"> 
        <mat-card>
            <div>
                <img class="cards-image" src="assets/images/bike.jpg" alt="icon-bike">
                <p>Search for Category Two</p>
            </div>
        </mat-card>
    </div>
    <div class="col-12 col-sm-3"> 
        <mat-card>
            <div>
                <img class="cards-image" src="assets/images/bike.jpg" alt="icon-bike">
                <p>Search for Category Three</p>
            </div>
        </mat-card>
    </div>
</div> 


<div class="row">
    <mat-card>
        <div class="col-12 col-sm-2">
            <img class="cards-image" src="assets/images/bike.jpg" alt="icon-bike">
            <p>Search for Category Three</p>
        </div>
    </mat-card>
</div> 

<section>
    <app-footer></app-footer> 
</section>


</div>